// Success colors

$success200: #82e5aa;
$success400: #47b780;
$success600: #2a7654;

// Warning colors

$warning200: #f7db5c;
$warning400: #eba630;
$warning600: #aa5419;

// Error colors

$error200: #f3a6a5;
$error400: #de4341;
$error600: #ac2519;
